  @import url("https://use.typekit.net/xpf5icb.css");
@import '@fontsource/fira-mono';

:root {
	--font-body: "adobe-caslon-pro", serif;
	--font-head: "futura-pt", Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-text: black;
	--color-text-subtle: grey;
	--color-theme-1: rgb(106, 89, 128);

	font-family: var(--font-body);
	color: var(--color-text);

}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	
	background-size: 100vw 100vh;
	
}


  .write p:first-child:first-letter {
    float: left;
    font-size: 4rem;
    line-height: 5rem;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0;
	margin-bottom: -2rem;
}

h1,
h2,
h3, h4, h5, h6 {
	font-family: var(--font-head);
	font-weight: 200;
	text-transform: uppercase;
}
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}
h3 {
	font-size: 0.875rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
